@model List<PhotoEntry>
@{
    ViewData["Title"] = "Home page foto";
}

<div class="d-flex justify-content-between align-items-center py-5">
    <h1>Elenco foto</h1>
    <a class="btn btn-secondary" href="@Url.Action("Create", "Photoalbum")">Aggiungi foto</a>
</div>

<div class="row">
    @foreach (PhotoEntry photo in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <img class="card-img-top" src="@photo.ImageBase64" alt="@photo.Title">
                <div class="card-body">
                    <h5 class="card-title">@photo.Title</h5>
                    <p class="card-text lead">@photo.Description</p>
                </div>
            </div>
        </div>
    }
</div>